@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");


body {
    margin: 0;
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.interval-split {
    margin: 0px auto;
    width: 1200px;
    padding: 25px 15px;
    box-shadow: 0px 1px 3px -1px grey;
    margin-top: 50px;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

form.interval-split__form {
    margin: 50px auto;
    display: block;
    width: 300px;
}

form.interval-split__form label input {
    float: right;
    display: block;
    width: 80%;
}

interval-split__form button {
    display: block;
    background: transparent;
    border: 1px solid grey;
    padding: 2px 5px;
    border-radius: 5px;
}

.interval-split__form button {
    display: block;
    background: transparent;
    border: 1px solid grey;
    padding: 5px 15px;
    border-radius: 2px;
    float: right;
}

.interval-split__form label span {
    display: block;
    float: left;
}

form.interval-split__form label {
    display: flow-root;
    height: fit-content;
}

form.interval-split__form > div {
    width: 100%;
    display: flow-root;
    margin-top: 5px;
    height: fit-content;
}

.interval-split__ranges {
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    justify-content: center;
    position: relative;
}
.interval-split__ranges.containsEqualRanges {
    margin-bottom: 50px;
}
.interval-split__ranges div.range {
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    min-width: fit-content;
    position: relative;
    color: white;
    font-size: 12px;
}
.equal_ranges_collector {
    position: absolute;
    border-bottom: 1px solid #c5c5c5;
    top: 55px;
    border-left: 1px solid #c5c5c5;
    border-right: 1px solid #c5c5c5;
    box-sizing: content-box;
}
.interval-split__ranges .equal_ranges_collector {
    display: none !important;
}

.interval-split__ranges.containsEqualRanges .equal_ranges_collector {
    display: block !important;
}
.equal_ranges_collector::after {
    content: "";
    height: 15px;
    width: 1px;
    background-color: #c5c5c5;
    position: absolute;
    left: 50%;
}
.containsEqualRanges .equal_range.range::after {
    content: "";
    display: block;
    width: 0;
    height: 25px;
    border: .5px solid #c5c5c5;
    position: absolute;
    left: 50%;
    top: 100%;
}
button.join_botton {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 15px);
    border: none;
    background: #c5c5c5;
    padding: 5px 10px;
    color: #3c3c3c;
    border-radius: 2px;
}
.loading {
    background: #0e9fce;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    animation: loading 1s linear;
}

.validation-message {
    border-radius: 2px;
    border: 1px solid;
    text-align: center;
    font-size: 10px;
}

button.active {
    border-color: #0db6d4;
    color: #0db6d4;
    background: #0db6d40d;
}

.info {
    border-color: #0d9ada;
    color: #0c5686;
}

.alert {
    border-color: red;
    color: red;
}

.interval-split h1.logo {
    font-family: "Goldman", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 33px;
    color: #ffffff;
    text-shadow: -1px 0px 2px #4a4545;
    text-transform: capitalize;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ededed;
    padding: 15px 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

input::placeholder {
    font-size: 11px;
    opacity: 0.5;
    color: grey;
}

.logo img {
    max-width: 50px;
    filter: invert(1) drop-shadow(0px 0px 2px #4a4545);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #ededed;
}

.footer p {
    font-size: 12px;
    margin: 5px 0;
    padding: 0 10px;
    color: #005680;
}

.logo,
.footer {
    background: #a9a9a914;
}

.equal_range {
    color: #4a4545 !important;
}
.moving-border{
    --border-width: 1px;
    position: relative;
    background: white;
}



@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
