@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.interval-split {
  margin: 0px auto;
  width: 1200px;
  padding: 25px 15px;
  box-shadow: 4px 3px 7px 0px grey;
  margin-top: 50px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

form.interval-split__form {
  margin: 50px auto;
  display: block;
  width: 300px;
}

form.interval-split__form label input {
  float: right;
  display: block;
  width: 80%;
}

interval-split__form button {
  display: block;
  background: transparent;
  border: 1px solid grey;
  padding: 2px 5px;
  border-radius: 5px;
}

.interval-split__form button {
  display: block;
  background: transparent;
  border: 1px solid grey;
  padding: 5px 15px;
  border-radius: 2px;
  float: right;
}
.interval-split__form label span {
  display: block;
  float: left;
}

form.interval-split__form label {
  display: flow-root;
  height: fit-content;
}

form.interval-split__form > div {
  width: 100%;
  display: flow-root;
  margin-top: 5px;
  height: fit-content;
}
.interval-split__ranges {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  justify-content: center;
}

.interval-split__ranges > div {
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  min-width: fit-content;
  position: relative;
  color: white;
  font-size: 12px;
}

.loading {
  background: #0e9fce;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  animation: center-animate 1s linear;
}
.validation-message {
  border-radius: 2px;
  border: 1px solid;
  text-align: center;
  font-size: 10px;
}
button.active {
  border-color: #0db6d4;
  color: #0db6d4;
  background: #0db6d40d;
}
.info {
  border-color: #0d9ada;
  color: #0c5686;
}
.alert {
  border-color: red;
  color: red;
}
.interval-split h1.logo {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 33px;
  color: #ffffff;
  text-shadow: -1px 0px 2px #4a4545;
  text-transform: capitalize;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ededed;
  padding: 15px 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input::placeholder {
  font-size: 11px;
  opacity: 0.5;
  color: grey;
}

.logo img {
  max-width: 50px;
  filter: invert(1) drop-shadow(0px 0px 2px #4a4545);
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #ededed;
}

.footer p {
  font-size: 12px;
  margin: 5px 0;
  padding: 0 10px;
  color: #005680;
}

@keyframes center-animate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
